* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.debug {
  border: 1px solid red;
}

/* ---------- General --------- */
.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1200px;
}

.h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
}

/* ---------- Header --------- */

header {
  background-color: #fff159;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar {
  width: 600px;
  height: 56px;
  margin: 0px 52px;
  display: flex;
  align-items: center;
}

.searcher {
  width: 100%;
  height: 39px;
  left: 1px;
  right: 1px;
  top: 8px;

  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searcher input {
  width: 100%;
  margin: 0px 15px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  font-style: normal;
}

.searcher input::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.search-div {
  display: flex;
  align-items: center;
}
.searcher-separator {
  width: 1px;
  height: 26px;
  background: #e0e0e0;
}

.search-button {
  width: 40px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.navigation {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
}

.page-nav ul {
  width: 785px;
  height: 36px;
  display: flex;
  flex-direction: row;

  text-align: center;
  align-items: flex-end;

  gap: 18px;
}

.page-nav li {
  display: inline-flex;
  list-style-type: none;
}

.page-nav a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;

  display: flex;
  align-items: flex-end;
  align-items: center;

  color: rgba(51, 51, 51, 0.6);
}
.address {
  display: flex;
  gap: 10px;
  margin-right: 25px;
}
.address a {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;

  display: flex;
  align-items: flex-end;

  color: #333333;
}

.categories {
  gap: 8px;
}
.account-nav {
  display: flex;
  gap: 14px;
  margin-bottom: 2px;
}
.account-nav ul {
  height: 36px;
  display: flex;
  flex-direction: row;

  text-align: center;
  align-items: flex-end;

  gap: 14px;
}

.account-nav li {
  display: inline-flex;
  list-style-type: none;
}

.account-nav a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  display: flex;
  align-items: flex-end;
  text-align: right;

  color: #333333;
}

/*----------- Banner ---------- */

.banner {
  background-color: #ebebeb;
  max-height: 340px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.banner-image form {
  position: relative;
  bottom: 28px;
  display: flex;
  justify-content: center;
  flex-direction: row;

  gap: 4px;
}

.banner-image form input[type="radio"] {
  width: 6px;
  height: 6px;
  /* The native appearance is hidden */
  appearance: none;
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 0px 1px #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

/* unselectd buttons */
.banner-image form input[type="radio"]:checked {
  background: #ffffff;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.banner-image img {
  height: 340px;
  object-fit: contain;
  cursor: pointer;
}

/*----------- Payment methods section ---------- */

.payments {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.payments-container {
  width: 1200px;
  display: flex;
  flex-direction: row;
  margin: 40px 0px 10px 0px;
  padding: 0px 8px;
}

.payments-methods {
  width: 100%;
  height: 90px;

  display: grid;
  grid-template-columns:
    304.66px 304.66px 304.66px
    270.03px;

  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.payment-card {
  display: flex;
  flex-direction: row;
  padding-left: 20.5px;
  align-items: center;
  text-align: start;
}
.payment-icon {
  width: 47px;
  height: 47px;
  border-radius: 100%;
  margin-right: 16.5px;
  border: 1px solid #eeeeee;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.payment-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 3px;
}

.payment-info span {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;

  display: flex;
  align-items: center;
  white-space: nowrap;
  color: #000000;
}

.payment-info a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;

  color: #3483fa;
}

.payment-card-more {
  display: flex;
  flex-direction: row;
  padding-left: 20.5px;

  align-items: center;
  text-align: center;

  border-left: 1px solid #eeeeee;
}
